<html>
<head>
	<link rel="stylesheet"   href="viewer.css"/>
</head>
<body>
<span class="documentation">
<h1> No PDF to view!<br/>
</h1>
<ul>
<li>Open the LaTeX file you are interested in with Neovim, compile it to PDF using the LaTeX Box Plugin.</li>
<li>Execute <span class='source'>:RegisterWithNode</span>.</li>
<li>Execute <span class='source'>:WatchPDFWithNode</span>.</li>
<li><a href="#" onClick="location.reload();">Reload</a> this page.</li>
</ul>
</span>
</body>
</html>
